@model Bug_tracker.Models.AdminUserViewModel

@{ 
    ViewBag.Title = "Edit User Roles";
}

<h2>@Model.User.FirstName @Model.User.LastName </h2>

@*I want to list the name of the Person I am assigning roles to here*@

@*add form and styling*@

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("AddRole", "Admin"))

            {
                @Html.AntiForgeryToken()

                <input type="hidden" value="@Model.User.Id" name="AddId" />

                @Html.ListBox("SelectedAbsentRoles", Model.AbsentRoles)

                <input type="submit" class="btn btn-primary" value="AddRole" name="AddRole" />
            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("RemoveRole", "Admin"))

            {
                @Html.AntiForgeryToken()


                <input type="hidden" value="@Model.User.Id" name="RemoveId" />


                @Html.ListBox("SelectedCurrentRoles", Model.Roles)

                <input type="submit" class="btn btn-primary" value="Remove Role" name="RemoveRole" />
            }
        </div>
    </div>
</div>

