@model Bug_tracker.Models.LoginViewModel

@{
    Layout = null;
}

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ryan Rousseau-Bug Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* jQuery data tables Css here *@
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Slatebootsrap.css" rel="stylesheet">

</head>



<body>


    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 100%"></div>
    </div>

    <div class="jumbotron">
        <h1 class="centerText">Bug Tracker</h1>
        <p class="centerText"> Welcome to my Bug Tracking application! Here you will find methods that allow for the submitting, monitoring, and tracking of maintenance
                        related issues as it would pertain a real company. Feel free to browse around and jump into various roles to see the full range of functionality!</p>
   

    <div class="row">
        @*<div class="col-md-4 ">*@



            @*<div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-lg">
                        <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Click here to access different roles!</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="well-sm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="Email" value="developer@developer.com">
                                        <input type="hidden" name="Password" value="Demo1&#64">
                                        <input type="submit" value="Developer-Frank Reynolds" class="btn btn-info btn-lg" />
                                    }
                                </div>
                            </li>
                            <li>
                                <div class="well-sm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="Email" value="pm@pm.com">
                                        <input type="hidden" name="Password" value="Demo2&#64">
                                        <input type="submit" value="Project-Charlie Kelly" class="btn btn-primary btn-lg" />
                                    }
                                </div>
                            </li>
                            <li>
                                <div class="well-sm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="Email" value="submitter@submitter.com">
                                        <input type="hidden" name="Password" value="Demo3&#64">
                                        <input type="submit" value="Submitter-Mac" class="btn btn-warning btn-lg" />
                                    }
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="panel-footer panel-success"></div>
            </div>*@
        @*</div>*@


        <div class="col-md-6 ">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3>Click the tracks to start tracking!</h3></div>
                <div class="panel-body">
                    
                       
                    <a href="/Account/Login" id="loginLink" > <img src="~/img/traintracks.jpg" class="resize solidBorder" /> </a>
                </div>
                <div class="panel-footer "></div>
            </div>
        </div>

        <div class="col-md-6 ">



            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">Authenticated User Dashboard</h2>
                </div>
                <div class="panel-body">
                    @if (User.IsInRole("Developer") || User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Submitter"))
                    {
                        @Html.ActionLink("Tickets", "Index", "Tickets", null, htmlAttributes: new { @class = "btn-primary btn-lg btnMargin" })
                        @Html.ActionLink("Projects", "Index", "Projects", null, htmlAttributes: new { @class = "btn-primary btn-lg btnMargin" })
                    }

                  

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Admin", "AdminDashboard", "Admin", null, htmlAttributes: new { @class = "btn-primary btn-lg btnMargin" })

                    }
            
                



                </div>

            </div>

            @*<div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" }) |
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
                </div>
            </div>*@

         

        </div>

    </div>

        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
        </div>

        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Admin", "AdminDashboard", "Admin")</li>

                            }

                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>*@
        <div class="container body-content">
        </div>
            <hr />
            <footer>
                <p class="centerText">&copy; - A <a href="https://rrousseau-portfolio.azurewebsites.net/">Ryan Rousseau</a> Production</p>
            </footer>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@RenderSection("scripts", required: false)*@

        @* jQuery data tables here *@
        <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>


        @* my personal js file *@
        <script type="text/javascript" src="~/Scripts/datatables.js"></script>

        <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>



</body>
</html>


@*<div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Check out the app as a Developer</h4>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="developer@developer.com">
                        <input type="hidden" name="Password" value="Demo1&#64">
                        <input type="submit" value="Developer-Frank Reynolds" class="btn btn-info btn-lg" />
                    }
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Check out the app as a Project Manager</h4>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="pm@pm.com">
                        <input type="hidden" name="Password" value="Demo2&#64">
                        <input type="submit" value="Project-Charlie Kelly" class="btn btn-primary btn-lg" />
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Check out the app as a Submitter</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="submitter@submitter.com">
                        <input type="hidden" name="Password" value="Demo3&#64">
                        <input type="submit" value="Submitter-Mac" class="btn btn-warning btn-lg" />
                    }
                </div>
            </div>
        </div>

    </div>*@


@*THis is the code that I have before I start messing with the buttons*@

@*<div class="btn-group-lg">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Click here to access different roles in this application!</a>


        <ul class="dropdown-menu">
            <li>
                <div class="well-sm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="developer@developer.com">
                        <input type="hidden" name="Password" value="Demo1&#64">
                        <input type="submit" value="Developer-Frank Reynolds" class="btn btn-info btn-lg" />
                    }
                </div>
            </li>


            <li>
                <div class="well-sm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="pm@pm.com">
                        <input type="hidden" name="Password" value="Demo2&#64">
                        <input type="submit" value="Project-Charlie Kelly" class="btn btn-primary btn-lg" />
                    }
                </div>
            </li>
            <li>
                <div class="well-sm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="submitter@submitter.com">
                        <input type="hidden" name="Password" value="Demo3&#64">
                        <input type="submit" value="Submitter-Mac" class="btn btn-warning btn-lg" />
                    }
                </div>
            </li>

        </ul>
    </div>*@



@* this is the site with three columns and the layout being referenced *@

@*@model Bug_tracker.Models.LoginViewModel


    @{
        ViewBag.Title = "Home Page";
    }



    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 100%"></div>
    </div>
    <div class="jumbotron">
        <h1>Bug Tracker</h1>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Welcome!</h4></div>
                <div class="panel-body">
                    <p class="lead">
                        Welcome to my Bug Tracking application! Here you will find methods that allow for the submitting, monitoring, and tracking of maintenance
                        related issues as it would pertain a real company. Feel free to browse around and jump into various roles to see the full range of functionality!
                    </p>
                </div>
                <div class="panel-footer "></div>
            </div>
        </div>


        <div class="col-md-4 ">
            <img src="~/img/traintracks.jpg" class="resize solidBorder" />
        </div>

        <div class="col-md-4 ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-lg">
                        <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Click here to access different roles!</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="well-sm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="Email" value="developer@developer.com">
                                        <input type="hidden" name="Password" value="Demo1&#64">
                                        <input type="submit" value="Developer-Frank Reynolds" class="btn btn-info btn-lg" />
                                    }
                                </div>
                            </li>
                            <li>
                                <div class="well-sm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="Email" value="pm@pm.com">
                                        <input type="hidden" name="Password" value="Demo2&#64">
                                        <input type="submit" value="Project-Charlie Kelly" class="btn btn-primary btn-lg" />
                                    }
                                </div>
                            </li>
                            <li>
                                <div class="well-sm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="Email" value="submitter@submitter.com">
                                        <input type="hidden" name="Password" value="Demo3&#64">
                                        <input type="submit" value="Submitter-Mac" class="btn btn-warning btn-lg" />
                                    }
                                </div>
                            </li>

                        </ul>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>
    </div>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 100%"></div>
    </div>*@











