@model IEnumerable<Bug_tracker.Models.CodeFirst.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project Index</h2>
<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
</div>
<table class="table table-bordered myTable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>

            <th>
                Assigned to
            </th>
            <th>
                Tickets
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @foreach (var u in item.ApplicationUsers)
                {
                    @u.DisplayName <br />
                }
            </td>
            <td>
               Tickets
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Change User", "ChangeUser", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })



            </td>
        </tr>
    }
</tbody>

</table>
<p>
@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-info btn-lg" } )
</p>

<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
</div>
